<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <link rel="stylesheet" href="../templates/calendar/basic/style.css">
    <body>
        <div class="container">
            <div class="month">{{ month }} {{ year }}</div>
            <table>
                <thead>
                    <tr>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th> 
                        <th>Friday</th> 
                        <th>Saturday</th> 
                    </tr>
                </thead>
                <tbody>
                    << I >>
                </tbody>
            </table>
        </div>
    </body>
<html>