<td>
<div class="calday">
{{ #index.<<I>>.isDay }}
    <div class="daynumber">
        {{ index.<<I>>.num}}
    </div>
    <div class="hebrewDate">
        {{ index.<<I>>.h_date }}
    </div>

    <div class="holidayContainer">
        <ul>
        {{ #index.<<I>>.holidays }}
            <li>
                <div >
                    <div class="holidayimg">
                        <img src="../templates/calendar/basic/img/{{ emoji }}.png" /> 
                    </div>
                    <div class="holidayname">{{ name }}</div> 
                </div>
            </li>
        {{ /index.<<I>>.holidays }}
        </ul>
    </div>
    {{ #index.<<I>>.hasCandle }}
        <div class="shabbatContainer">
            <div class="candleimg">
                <image src="../templates/calendar/basic/img/candle.png" />
            </div>
            <div class="candleimgShabbat">
                <image src="../templates/calendar/basic/img/candle.png" />
            </div>
            <div class="candletime">
                {{ index.<<I>>.c_time }} pm
            </div>
        </div>
    {{ /index.<<I>>.hasCandle }}
    
    {{ #index.<<I>>.isShabbat}}
    <div class="shabbatContainer">
        <div class="candleimg">
            <image src="../templates/calendar/basic/img/candle.png" />
        </div>
        <div class="candleimgShabbat">
            <image src="../templates/calendar/basic/img/candle.png" />
        </div>
        <div class="candletime">
            {{ index.<<I>>.c_time }} pm
        </div>
    </div>
    {{ /index.<<I>>.isShabbat}}

    {{ #index.<<I>>.parsha }}
    <div class="parshaContainer">
        <div class="parshaText">
            Parshat {{ index.<<I>>.parsha.name }}
        </div>
        <div class="parshaLocation">
            {{ index.<<I>>.parsha.book }} {{ index.<<I>>.parsha.location }}
        </div>
    </div>
    {{ /index.<<I>>.parsha }}

    {{ #index.<<I>>.isHavdalah }}
    <div class="havdalahContainer">
        <div class="havdalahimg">
            <image src="../templates/calendar/basic/img/h-candle.png" />
        </div>
        <div class="havdalahTime">
            {{ index.<<I>>.c_time }} pm
        </div>
    </div>
    {{ /index.<<I>>.isHavdalah }}

{{ /index.<<I>>.isDay }}
</div>
</td>