@media print{@page {size: landscape}}

table {
    border: .1rem solid #000000;
    border-collapse: collapse;
    position: relative;
    width: 100%;
    height: 80%;
    table-layout: fixed;
}

th { 
    /* font-size: 1rem; */
    padding: 0;
}

tr { height: 13%;}

td {
    padding: 0.5%;
    border: .1rem solid #888888;
    
}

.candleimg {
    float: left;
    position: relative;
    bottom: 10%;    
}

.candleimg img {
    position: relative;
    height: 10%;
    width: auto;
}

.candleimgShabbat img {
    position: relative;
    height: 10%;
    width: auto;
}


.candleimgShabbat  {
    float: left;
    position: absolute;
    left: 3%;
}


.holidayimg {
    float: left;
    position: relative;
    bottom: 10%;    
}

.holidayimg img {
    position: relative;
    height: 10%;
    width: auto;
    vertical-align: middle;
}

.holidayname {
    position: relative;
    text-align: left;
    vertical-align: middle;
    /* font-size: 2rem; */
    color:#AAAAAA;
    padding: 0;
    margin: 0;
}

.daynumber {
    /* font-size: 3rem; */
    position: absolute;
    top: 0;
}

.candletime {
    position: absolute;
    left: 15%;
    bottom: 10%;
    /* font-size: 2rem; */
    color:#AAAAAA;
}
html {
    font-size: 8px;
}

body { 
    font-size: 100px;
    text-align: center;
}
.calday {
    position: relative; 
    width: 100%; 
    height: 100%;  
}

.month { 
    font-size: 8rem;
    text-align: center;
    position: relative;
}
.parshaText {
    font-size: 1.2rem;
    color: rgb(126, 126, 126);
}

.parshaLocation {
    font-size: 1rem;
    color: rgb(126, 126, 126);
}

.hebrewDate {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    /* font-size: 2rem; */
    color: #AAAAAA;
}

.container {
    display: inline-block;
    padding: 4%;
/* 
    width: 11.0rem;
    height: 8.5rem; */

    /* width: 16530px;
     height: 11690px; */
}

.parshaContainer {

    /* border: 1px solid pink; */

    position: absolute;
    float: left;
    width: 42%;
    left: 2%;
    height: 15%;
    bottom:2%;
}

.havdalahContainer {

    /* border: 1px solid orange; */

    position: absolute;
    float: left;
    width: 52%;
    right: 2%;
    height: 15%;
    bottom:2%;
}

.havdalahTime {
    position: absolute;
    left: 35%;
    bottom: 10%;
    /* font-size: 1.5rem; */
    color:#AAAAAA;
}


.havdalahimg {
    float: left;
    position: relative;
    bottom: 2%;    
}

.havdalahimg img {
    position: relative;
    height: 10%;
    width: auto;
}



.holidayContainer {

    /* border: 1px solid green; */

    height: 50%;
    position: relative;
    width: 100%;
    top: 20%;
}


.shabbatContainer {
    /* border: 1px solid blue; */
    
    height: 15%;
    position: absolute;
    width: 100%;
    bottom: 2%;
}


.holidayContainer li {
    /* font-size: 2rem; */
    font-style: italic;
    color: #AAAAAA;
    position: relative;
    /* height: 1.25rem; */
}

.holidayContainer ul {

    

    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
}
