.headerText {
    font-size: 20rem;
}

table {
    border: .1rem solid #000000;
    border-collapse: collapse;
    position: relative;
    width: 100%;
    height: 90%;
    table-layout: fixed;
}

th { 
    font-size: 1rem;
    padding: 0;
}

tr { height: 13%;}

td {
    padding: 0.5%;
    border: .1rem solid #888888;
    
}

.candleimg {
    float: left;
    position: relative;
    bottom: 10%;    
}

.candleimg img {
    position: relative;
    height: 50%;
    width: auto;
}

.candleimgShabbat img {
    position: relative;
    height: 50%;
    width: auto;
}


.candleimgShabbat  {
    float: left;
    position: absolute;
    left: 3%;
}

.daynumber {
    font-size: 2rem;
    position: absolute;
    top: 0;
}

.candletime {
    position: absolute;
    left: 15%;
    bottom: 10%;
    font-size: 1rem;
    color:#AAAAAA;
}
html {
    font-size: 40px;
}

body { text-align: center;}
.calday {
    position: relative; 
    width: 100%; 
    height: 100%;  
}

.month { 
    font-size: 5rem;
    text-align: center;
    position: relative;
}

.hebrewDate {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    font-size: 1rem;
    color: #AAAAAA;
}

.container {
    display: inline-block;

    /* width: 110rem;
    height: 85rem; */

    /* width: 16530px;
     height: 11690px; */
}


.havdalahContainer {
    height: 15%;
    position: absolute;
    width: 100%;
    bottom: 2%;
}

.shabbatContainer {
    height: 15%;
    position: absolute;
    width: 100%;
    bottom: 2%;
}

.holidays {
    position: relative;
    width: 100%;
    top: 25%;
}

.holidays li {
    font-size: 1rem;
    font-style: italic;
    color: #AAAAAA;
}

.holidays ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
}